<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <mvc:annotation-driven />
<!--    <mvc:annotation-driven>-->
<!--        <mvc:message-converters>-->
<!--            <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>-->
<!--            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>-->
<!--        </mvc:message-converters>-->
<!--        <mvc:message-converters register-defaults="false">-->
<!--            &lt;!&ndash; 避免IE执行AJAX时,返回JSON出现下载文件 &ndash;&gt;-->
<!--            <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">-->
<!--                <property name="supportedMediaTypes">-->
<!--                    <list>-->
<!--                        &lt;!&ndash; 这里顺序不能反，一定先写text/html,不然ie下出现下载提示 &ndash;&gt;-->
<!--                        <value>text/html;charset=UTF-8</value>-->
<!--                        <value>application/json;charset=UTF-8</value>-->
<!--                    </list>-->
<!--                </property>-->
<!--            </bean>-->
<!--        </mvc:message-converters>-->
<!--    </mvc:annotation-driven>-->
    <mvc:interceptors>
        <!--配置自定义拦截器,拦截所有资源-->
        <bean class="com.lynch.test.MyInterceptor"></bean>

        <!--拦截指定资源-->
        <mvc:interceptor>
            <mvc:mapping path="/*"/>
            <bean class="com.lynch.test.MyInterceptor"></bean>
        </mvc:interceptor>

<!--        <bean id="changeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"></bean>-->
    </mvc:interceptors>

    <context:component-scan base-package="com.lynch.test"></context:component-scan>
    <bean id="student" class="com.lynch.test.model.Student"></bean>
</beans>